---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Benefits from "../components/Benefits.astro";
import ViewApp from "../components/ViewApp.astro";
---

<Layout title="DeliverY">
  <Navbar />
  <main>
    <Hero />
    <Benefits />
    <ViewApp />
  </main>
</Layout>
