---
import ArrowUpRight from "../icons/ArrowUpRight.astro";
import BenefitsCard from "./BenefitsCard.astro";

const benefits = [
  {
    title: "Students",
    image: "/src/assets/1.jpg",
    description:
      "AI Ally can assits in research, provide learning materials, and answer questions",
  },
  {
    title: "Professionals",
    image: "/src/assets/2.webp",
    description:
      "AI Ally can provide quick access to relevant information and offer data analysis insights",
  },
  {
    title: "Writers",
    image: "/src/assets/3.jpg",
    description:
      "AI Ally can help writers by generating ideas, suggesting improvements in writing style",
  },
];
---

<section class="mx-12 my-10 flex flex-col items-center">
  <div class="w-full">
    <h1 class="text-primary text-4xl font-bold">Different destinations</h1>
  </div>

  <div class="grid grid-cols-3 gap-10 mt-5 items-start">
    <span
      >We explore the diverse ways in which this technology can revolutionize
      work across various industries and fields.</span
    >
    <span
      >Dusciver how AI can streamline processes and elevate your work to new
      heights.</span
    >
    <a class="group font-bold flex items-center gap-2 justify-end" href=""
      >Discover all applications <ArrowUpRight
        class="w-5 h-5 group-hover:rotate-45 transition-all"
      /></a
    >
  </div>

  <div class="grid grid-cols-3 gap-10 mt-10">
    {
      benefits.map((benefit) => (
        <BenefitsCard
          title={benefit.title}
          image={benefit.image}
          description={benefit.description}
        />
      ))
    }
  </div>

  <a
    class="font-bold bg-accent px-6 py-3 rounded-full mt-10 hover:bg-accent/95 transition-all"
    href="">And more than 50 other destinations</a
  >
</section>
