---
import Logo from "./Logo.astro";
---

<footer class="max-w-[65rem] mx-auto w-full mt-10 px-6 flex flex-col">
  <div class="w-full mb-6 flex items-center justify-between">
    <Logo class="text-primary bg-accent rounded-full w-10 h-10 p-2" />
    <ul class="flex gap-8 font-bold">
      <li>
        <a class="hover:border-b-2 border-accent transition-all" href="">Home</a
        >
      </li>
      <li>
        <a class="hover:border-b-2 border-accent transition-all" href=""
          >Features</a
        >
      </li>
      <li>
        <a class="hover:border-b-2 border-accent transition-all" href=""
          >Pricing</a
        >
      </li>
      <li>
        <a class="hover:border-b-2 border-accent transition-all" href=""
          >Testimonials</a
        >
      </li>
    </ul>
    <ul class="flex gap-8 font-bold">
      <li>
        <a class="hover:border-b-2 border-accent transition-all" href=""
          >Instagram</a
        >
      </li>
      <li>
        <a class="hover:border-b-2 border-accent transition-all" href=""
          >Facebook</a
        >
      </li>
      <li>
        <a class="hover:border-b-2 border-accent transition-all" href=""
          >Twitter</a
        >
      </li>
    </ul>
  </div>
  <hr class="w-full bg-black/5 mb-4" />
  <div class="flex items-center justify-between mb-10 text-black/40 text-sm">
    <span class="font-semibold">Copyright (C) 2024 Ai Ally</span>
    <span class="font-semibold">Privacy Policy</span>
  </div>
</footer>
