---
import Logo from "./Logo.astro";
---

<nav class="mx-16 py-4 flex justify-between items-center text-primary">
<Logo class="text-primary bg-accent rounded-full w-10 h-10 p-2" />
  <ul class="flex gap-8 font-bold">
    <li>
      <a class="hover:border-b-2 border-accent transition-all" href="">Home</a>
    </li>
    <li>
      <a class="hover:border-b-2 border-accent transition-all" href="">Features</a>
    </li>
    <li>
      <a class="hover:border-b-2 border-accent transition-all" href="">Pricing</a>
    </li>
    <li>
      <a class="hover:border-b-2 border-accent transition-all" href="">Testimonials</a>
    </li>
  </ul>
  <a class="font-bold bg-accent px-6 py-3 rounded-full" href="">Sign In</a>
</nav>
