---
import Calendar from "../icons/Calendar.astro";
import GPS from "../icons/GPS.astro";
import Pencil from "../icons/Pencil.astro";
import Play from "../icons/Play.astro";
import Search from "../icons/Search.astro";
import Speed from "../icons/Speed.astro";
import Verified from "../icons/Verified.astro";
---

<section
  class="w-full flex justify-center items-center gap-16 bg-secondary px-32 py-16"
>
  <figure class="w-64">
    <img src="/src/assets/iphone-app-view.webp" alt="" />
  </figure>
  <div class="flex flex-col items-center gap-4 w-64">
    <span
      class="bg-white px-6 py-4 flex w-full items-center gap-2 font-semibold drop-shadow-md rounded-lg"
      ><Search class="w-5 h-5 text-black" />Finding information</span
    >
    <span
      class="bg-white px-6 py-4 flex w-full items-center gap-2 font-semibold drop-shadow-md rounded-lg"
      ><Pencil class="w-5 h-5 text-black" />Help for designers</span
    >
    <span
      class="bg-white px-6 py-4 flex w-full items-center gap-2 font-semibold drop-shadow-md rounded-lg"
      ><Speed class="w-5 h-5 text-black" />Home automation</span
    >
    <span
      class="bg-white px-6 py-4 flex w-full items-center gap-2 font-semibold drop-shadow-md rounded-lg"
      ><Play class="w-5 h-5 text-black" />Entertainment</span
    >
    <span
      class="bg-white px-6 py-4 flex w-full items-center gap-2 font-semibold drop-shadow-md rounded-lg"
      ><Calendar class="w-5 h-5 text-black" />Planning assinstance</span
    >
  </div>
</section>
