---
import GPS from "../icons/GPS.astro";
import Search from "../icons/Search.astro";
import Speed from "../icons/Speed.astro";
import Verified from "../icons/Verified.astro";
---

<section
  class="w-full flex justify-center items-center gap-16 bg-secondary px-32 py-16"
>
  <figure class="w-64">
    <img src="/src/assets/iphone-app-view.webp" alt="" />
  </figure>
  <div class="flex flex-col items-center gap-4 w-64">
    <span
      class="bg-white px-6 py-4 flex w-full items-center gap-2 font-semibold drop-shadow-md rounded-lg"
      ><Search class="w-5 h-5 text-black" />Find products</span
    >
    <span
      class="bg-white px-6 py-4 flex w-full items-center gap-2 font-semibold drop-shadow-md rounded-lg"
      ><GPS class="w-5 h-5 text-black" />Follow your products</span
    >
    <span
      class="bg-white px-6 py-4 flex w-full items-center gap-2 font-semibold drop-shadow-md rounded-lg"
      ><Speed class="w-5 h-5 text-black" />Fast shipping</span
    >
    <span
      class="bg-white px-6 py-4 flex w-full items-center gap-2 font-semibold drop-shadow-md rounded-lg"
      ><Verified class="w-5 h-5 text-black" />Verified sellers</span
    >
  </div>
</section>
